<p> Your auction site for auctioning other people's stuff. </p>

<ul>
  <li>
    <a href="/users">
      See the list of users
    </a>
  </li>

  <li>
    <a href="/users/new">
      Add a new user
    </a>
  </li>
</ul>
